@import url('../../App.css');

.call-to-action-container{
    background: var(--main-white-first);
}
.call-to-action{   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1.6rem 1.6rem;
}

.call-to-action-tittle{
    font-size: 2rem;
    color: var(--medium-blue-font);
    font-weight: bold;
}

.call-to-action-clock{
    margin-top: 1.6rem;
    width: 12.2rem;
    height: 15.3rem;
}

.call-to-action-tagline{
    color: var(--medium-blue-font);
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
}

.call-to-action-description{
    color: var(--dark-blue-second);
    margin-top: .8rem;
    font-size: 1.4rem;
}

.call-to-action-connection{
    margin-top: 1.6rem;
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    border: 1px solid var(--dark-blue-second);
    color: var(--dark-blue-second);
    background: var(--light-blue-font);
    display: flex;
    justify-content: center;
    align-items: center;
}


.call-to-action-connection p{
    font-size: 1.4em;
}
